* {
  box-sizing: border-box;
}
.web-page {
  margin: auto;
  width: 96%;
  height: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 50% auto;
}
.title {
  background-color: black;
  color: rgb(190, 190, 190);
  padding-left: 30px;
  margin: 0px;
  font-size: larger;
  line-height: 160%;
  grid-column: 1 / 3;
}
h1 {
  margin: 30px;
  grid-column: 1 / 3;
}
.info {
  margin: 15px;
  grid-column: 1 / 3;
}
.title-for-container {
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
}
.code-container {
  margin: 15px;
  background: black;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 32px auto;
}
.pre-code {
  margin-left: 8px;
  color: rgb(190, 190, 190);
  font-size: medium;
  line-height: 160%;
}
textarea {
  border: none;
  background-color: black;
  color: rgb(190, 190, 190);
  font-size: medium;
  line-height: 160%;
  word-wrap: normal;
  -ms-word-wrap: normal;
}
.result-container {
  margin: 15px;
  border: 1px solid black;
}
.explain {
  margin: 15px;
}
a.codestyle {
  text-decoration: none;
  color: rgb(190, 190, 190);
}
a.codestyle:active {
  text-decoration: none;
  color: rgb(190, 190, 190);
}
a.codestyle:hover {
  text-decoration: underline;
  color: rgb(190, 190, 190);
  border-bottom: 1px solid rgb(100, 100, 100);
}
.pic-title {
  margin-left: 130px;
  margin-bottom: 50px;
}
.image {
  border: 1px solid black;
}
textarea {
  font-size: large;
  line-height: 160%;
}

.code {
  background: black;
  color: #f1f1f1;
}

.error-message {
  color: #cc0000;
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
}
